<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <!--<add key="myget" value="https://www.myget.org/F/protobuf-net/api/v3/index.json" />-->
        <!--<add key="local" value="c:\Code\NuGet" />-->
    </packageSources>

    <packageSourceMapping>
        <!-- this is useful for testing UsageBenchmark etc -->
        <!--<packageSource key="local">
            <package pattern="Dapper.AOT" />
        </packageSource>-->
        <packageSource key="nuget">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
